.platform-content {
    // 表格
    .table {
        padding-top: 12px;
        // 图片
        .image {
            height: 40px;
            vertical-align: top;
        }
    }
    // 分页
    .page {
        padding-top: 12px;
    }
    /deep/.ivu-card{
        height:100vh;
    }
}
// 上传图片
.upload {
    width: 200px;
    height:120px;
    line-height:126px;
}
.upload-list {
    width: 200px;
    height: 120px;
    line-height: 120px;
}
