.home {
  .home-left {
   
    position: fixed;
    top: 0;
    left: 0;
    // 侧边logo
    .home-logo {
      width:208px;
      height: 64px;
      line-height: 64px;
      display: flex;
      align-items: center;
      background: #5070FC;
      background-size: 100% 100%;
      // display: inline-block;
      img{
        width:35px;
        height: 26px;
        margin:  0px 5px 0 15px;
      }
      p{
        color:#ffffff;
        font-size:16px;
      }
    }
    // 侧边栏
    .home-menu-box {
      height: calc(100vh - 64px);
      overflow-y: auto;
      width:208px;
      .home-menu {
        min-height: 100%;
      }
    }
    // 清除侧边栏滚动条
    .home-menu-box::-webkit-scrollbar {
      width: 0;
    }
  }
  .home-right {
    padding-left: 208px;
    // 顶部导航
    .home-top {
      height: 64px;
      position: fixed;
      top: 0;
      right: 0;
      left: 208px;
      // align-items: center;
      justify-content: flex-end;
      z-index: 22;
      background: #fff;
      padding: 0 24px;
      box-sizing: border-box;
      .home-tool{
        width:160px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        .info{
          padding:6px 0;
          p{
            margin-bottom:3px;
          }
        }
      }
    }

    // 内容
    .home-content {
      background: #f5f7f9;
      padding: 80px 18px 18px;
      min-height: 100vh;
      box-sizing: border-box;
    }
    
  }
}
